In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('summer.csv', header=0)

In [7]:
df_male = df[df['Gender']=='Men']

In [24]:
x = df_male.groupby('Athlete').count()
x_subset = x['Medal']
x_subset.head()

Athlete
AABYE, Edgar                1
AALTONEN, Arvo Ossian       2
AALTONEN, Paavo Johannes    5
AANING, Alf Lied            1
AARDEWIJN, Pepijn           1
Name: Medal, dtype: int64

In [56]:
df_male.groupby(['Athlete']).count().sort_values(by='Medal', ascending=False).head(1)

                 Year  City  Sport  Discipline  Country  Gender  Event  Medal
Athlete
PHELPS, Michael    22    22     22          22       22      22     22     22

In [59]:
df_male.groupby(['Athlete'])['Medal'].count().sort_values( ascending=False).head(1)

Athlete
PHELPS, Michael    22
Name: Medal, dtype: int64

In [60]:
y = df_male.groupby(['Athlete'])['Medal'].count().sort_values( ascending=False).head(1)

In [61]:
y

Athlete
PHELPS, Michael    22
Name: Medal, dtype: int64

In [65]:
y = df[df['Gender']=='Men'].groupby(['Athlete'])['Medal'].count().sort_values( ascending=False).head(1)
z = df[df['Gender']=='Women'].groupby(['Athlete'])['Medal'].count().sort_values( ascending=False).head(1)

In [66]:
z

Athlete
LATYNINA, Larisa    18
Name: Medal, dtype: int64

In [81]:
empty_dataframe = pd.DataFrame()

In [82]:
y = df[df['Gender']=='Men'].groupby(['Athlete'])['Medal'].count().sort_values( ascending=False).head(1)
z = df[df['Gender']=='Women'].groupby(['Athlete'])['Medal'].count().sort_values( ascending=False).head(1)

In [83]:
y

Athlete
PHELPS, Michael    22
Name: Medal, dtype: int64

In [84]:
z

Athlete
LATYNINA, Larisa    18
Name: Medal, dtype: int64

In [85]:
type(y)

pandas.core.series.Series

In [87]:
pd.concat([y,z])

Athlete
PHELPS, Michael     22
LATYNINA, Larisa    18
Name: Medal, dtype: int64